<div class= "row">
    <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-2" >
        <img src="../../../assets/fotoperfil.jpeg" class="img-responsive" id="foto"></div>
    <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-2" >
        
        <p id="nombre">{{persona.nombre}} {{persona.apellido}} Sofia Pavón</p>
        <p id="titulo">Full Stack developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8" id="acerkdemi">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio totam aliquid cumque aperiam assumenda eum inventore saepe deserunt ea, in iure provident aut dolore laboriosam eaque voluptatem minima nostrum repellendus?</p>
        </span>
    </div>
</div>

