<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/argprograma.png" id="LogoAP">
        </div>
        <div class="redes">
            
    
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="../../../assets/logogt.png" id="#LogoGT"></a>

                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="../../../assets/fb.png" id= "#LogoFB"></a>
            
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="../../../assets/ig.png" id= "#LogoIG"></a>
            
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="../../../assets/in.png" id="#LogoIN"></a>
            
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="../../../assets/wsp.png" id="#LogoWSP"></a>
                
                <button type="button" class="btn btn-outline-dark" (click)="login()">LOG IN</button>
            
            
            
        </div>
    </div>
</div>

