<div class="row">
    <div class="text-center">
    <h1>Hard & Soft Skills</h1>
</div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../../assets/htmlcirculo.png'"
            [showUnits]="false"  
            [showImage]="true"
            [imageHeight]="100"
             [imageWidth]="100"
            [showSubtitle]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'green'"
            [innerStrokeColor]="'pink'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../../assets/csscirculofinal.png'"
            [showUnits]="false"  
            [showImage]="true"
            [imageHeight]="100"
             [imageWidth]="100"
            [showSubtitle]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'green'"
            [innerStrokeColor]="'pink'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../../assets/avascriptcirculofinal.png'"
            [showUnits]="false"  
            [showImage]="true"
            [imageHeight]="100"
             [imageWidth]="100"
            [showSubtitle]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'green'"
            [innerStrokeColor]="'pink'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [imageSrc]="'../../assets/TRABAOENEQUIPO.png'"
            [showUnits]="false"  
            [showImage]="true"
            [imageHeight]="110"
             [imageWidth]="110"
            [showSubtitle]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'green'"
            [innerStrokeColor]="'pink'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [imageSrc]="'../../assets/CREATIVIDAD (2).png'"
            [showUnits]="false"  
            [showImage]="true"
            [imageHeight]="110"
             [imageWidth]="110"
            [showSubtitle]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'green'"
            [innerStrokeColor]="'pink'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [imageSrc]="'../../assets/ADAPTABILIDAD.png'"
            [showUnits]="false"  
            [showImage]="true"
            [imageHeight]="110"
             [imageWidth]="110"
            [showSubtitle]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'green'"
            [innerStrokeColor]="'pink'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="83"
            [radius]="100"
            [imageSrc]="'../../assets/ingless.png'"
            [showUnits]="false"  
            [showImage]="true"
            [imageHeight]="110"
             [imageWidth]="110"
            [showSubtitle]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'green'"
            [innerStrokeColor]="'pink'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h1>  </h1>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h1>  </h1>
    </div>
</div>
