.row{
    
    padding: 20px;
    
}
div{
    background-color:rgb(245, 200, 194, 50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}
#hss{
    background-color:rgb(245, 200, 194, 100%);
}