<div class="row">
    <div class="text-center" id="edu">
    <h1>EDUCACIÓN</h1>
</div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>colegio</h1> <h3>(años)</h3>
                
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque corporis rem totam perferendis, explicabo, tempora, cupiditate fugit officiis incidunt vitae voluptas accusantium dignissimos. Repudiandae dolore fuga quidem natus non quaerat.</p>
            <li>
                <h1>curso</h1><h3>(años)</h3>
                
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti sed aspernatur blanditiis qui libero recusandae, architecto, doloremque officia at doloribus excepturi repellendus nihil enim delectus voluptate voluptatem ex molestias ratione!</p>
    
        </ul>
    </div>
    </div>
