<div class="row">
<h1>Experiencia laboral</h1>
<div class="col-lg-1"></div>
<div class="col-lg-11">
    <ul>
        <li>
            <h1>exp 1</h1> <h3>(años)</h3>
            
        </li>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque corporis rem totam perferendis, explicabo, tempora, cupiditate fugit officiis incidunt vitae voluptas accusantium dignissimos. Repudiandae dolore fuga quidem natus non quaerat.</p>
        <li>
            <h1>exp 2</h1><h3>(años)</h3>
            
        </li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti sed aspernatur blanditiis qui libero recusandae, architecto, doloremque officia at doloribus excepturi repellendus nihil enim delectus voluptate voluptatem ex molestias ratione!</p>

    </ul>
</div>
</div>