<div class= "row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
        <img src="../../../assets/fotoperfil.jpeg" class="img-fluid" id="foto"></div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
        <p id="nombre">Sofia Pavón</p>
        <p id="titulo">Full Stack developer Jr</p>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" >
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio totam aliquid cumque aperiam assumenda eum inventore saepe deserunt ea, in iure provident aut dolore laboriosam eaque voluptatem minima nostrum repellendus?</p>
        </span>
    </div>
</div>

